.rodape {
    display: flex;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    border: solid 4px red;
}

.rodape-column {
    margin: 0 5vh 0 2.5vh;
}

.titulo {
    margin: 0 0 1.5vh 0;
}

.titulo {
    margin: 0 0 1.5vh 0;
}